body{
    background-image: url(https://i.gifer.com/8jay.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 200vh;
}
ul{
    display: flex;
    justify-content: center;
    position: fixed;
    margin-top: 0px;
    padding-left: 0px;
    top: 0px;
    left: 50%;
    transform: translate( -50%);
    color: transparent;
    z-index: 1;
}

.topbar{
    background-color:goldenrod;
    font-size: 35px;
    font-family: sans-serif;
    border:20px;
    padding: 10px;
    width: 350px;
    height: 80px;
    border-radius: 5px;
    outline: transparent;
}

.topbar:hover{
    box-shadow: 0 5px 20px 5px white;
    border-radius: 13px;
}

.cart:hover{
    box-shadow: 0 5px 20px 5px white;
    border-radius: 13px;
}

.fa-shopping-cart {
    color: white;
    font-size: 35px;
    border: none;
    
}

.fa-file-alt {
    color: white;
    font-size: 35px;
    border: none;
}

.fa-phone-alt {
    color: white;
    font-size: 35px;
    border: none;
}

.fa-keyboard {
    color: white;
    font-size: 35px;
    border: none;
}

.fa-microchip {
    color: white;
    font-size: 35px;
    border: none;
}

.fa-home{
    color: white;
    font-size: 35px;
    border: none;
}

.image-slider{
    background-color:transparent;
    display: flex;
    overflow: hidden;
    position: relative;
    width: 1000px ;
    height: 550px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    margin-top: 150px;
}

.cart{
    background-color:goldenrod;
    font-size: 35px;
    font-family: sans-serif;
    border:20px;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    height: 80px;  
    outline: transparent;
    cursor: pointer;
}
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-left: -150px;
    min-width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: greenyellow;
    border: 50px;
  }

  .dropdown-content p {
    font-size: 30px;
    color: black;
    border-bottom: solid;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-left: 20px;
  }

  .dropdown-content button{
      font-size: 30px;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-left: 335px ;
      background-color: rgba(1, 101, 251, 0.39);
      border-style: solid;
      border-radius: 15px;
      border-color: rgb(35, 35, 113);
  }

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.left-button{
    font-size: 50px;
    color:rgb(216,216,216);
    width: 65px;
    margin-top: 240px;
    margin-bottom: 300px;
    position: absolute;
    background-color: transparent;
    border-radius: 60px;
    transition-duration: .4s;
    border-color: transparent;
    opacity: .7;
    outline: transparent;
}
.right-button{
    font-size: 50px;
    color:rgb(216,216,216);
    width: 65px;
    position: absolute;
    background-color: transparent;
    margin-left: 934px;
    margin-top: 240px;
    margin-bottom: 300px;
    border-radius: 60px;
    transition-duration: .4s;
    border-color: transparent;
    opacity: .7;
    outline: transparent;
}

.right-button:hover{
    background-color: rgb(40,40,40,0.8);
    opacity: 1;
    border-color: rgb(216,216,216);
}

.left-button:hover{
    background-color: rgb(40,40,40,0.8);
    opacity: 1;
    border-color: rgb(216,216,216);
}

.images{
    
    width:1000px;
    height: 550px;
}
.current-image1{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 500px;
    margin-left: 42.5%;
    margin-right: 400px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    background-color: transparent;
    border-color: transparent;
    outline: transparent;
}

.current-image2{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 500px;
    margin-left: 45.5%;
    margin-right: 400px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    background-color: transparent;
    border-color: transparent;
    outline: transparent;
}

.current-image3{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 500px;
    margin-left: 48.5%;
    margin-right: 400px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    background-color: transparent;
    border-color: transparent;
    outline: transparent;
}

.current-image4{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 500px;
    margin-left: 51.5%;
    margin-right: 400px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    background-color: transparent;
    border-color: transparent;
    outline: transparent;
}

.current-image5{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 500px;
    margin-left: 54.5%;
    margin-right: 400px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    background-color: transparent;
    border-color: transparent;
    outline: transparent;
}

.current-image6{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 500px;
    margin-left: 57.5%;
    margin-right: 400px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    background-color: transparent;
    border-color: transparent;
    outline: transparent;
}

.items-for-sale{
    margin-top: 70px;
    margin-left:289px;
    width: 1950px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 40px;
}

.item1{
    background-color: rgb(194, 194, 194);
    padding: 20px;
    height: 500px;
    width: 417px;
    border-radius: 8px;
}

.item2{
    background-color: rgb(194, 194, 194);
    padding: 20px;
    height: 500px;
    width: 417px;
    border-radius: 8px;
}

.item3{
    background-color: rgb(194, 194, 194);
    padding: 20px;
    height: 500px;
    width: 417px;
    border-radius: 8px;
}

.item4{
    background-color: rgb(194, 194, 194);
    padding: 20px;
    height: 500px;
    width: 417px;
    border-radius: 8px;
}

.item5{
    background-color: rgb(194, 194, 194);
    padding: 20px;
    height: 500px;
    width: 417px;
    border-radius: 8px;
}

.item6{
    background-color: rgb(194, 194, 194);
    padding: 20px;
    height: 500px;
    width: 417px;
    border-radius: 8px;
}

.item7{
    background-color: rgb(194, 194, 194);
    padding: 20px;
    height: 500px;
    width: 417px;
    border-radius: 8px;
}

.item8{
    background-color: rgb(194, 194, 194);
    padding: 20px;
    height: 500px;
    width: 417px;
    border-radius: 8px;
}

.itemtext{
    margin-top: 440px;
    margin-left: -20px;
    width: 457px;
    height: 62px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 25px;
    background-color: transparent;
    border: none;
    outline: transparent;
}