body{
    background-image: url(https://i.gifer.com/8jay.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 200vh;
}
ul{
    display: flex;
    justify-content: center;
    position: fixed;
    margin-top: 0px;
    padding-left: 0px;
    top: 0px;
    left: 50%;
    transform: translate( -50%);
    color: transparent;
    
}

.topbar{
    background-color:goldenrod;
    font-size: 35px;
    font-family: sans-serif;
    border:20px;
    padding: 10px;
    width: 350px;
    height: 80px;
    border-radius: 5px;
    outline: transparent;
}

.topbar:hover{
    box-shadow: 0 5px 20px 5px white;
    border-radius: 13px;
}

.cart{
    background-color:goldenrod;
    font-size: 35px;
    font-family: sans-serif;
    border:20px;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    height: 80px;  
    outline: transparent;
}

.cart:hover{
    box-shadow: 0 5px 20px 5px white;
    border-radius: 13px;
}

.fa-shopping-cart {
    color: white;
    font-size: 35px;
    border: none;
    
}

.fa-file-alt {
    color: white;
    font-size: 35px;
    border: none;
}

.fa-phone-alt {
    color: white;
    font-size: 35px;
    border: none;
}

.fa-keyboard {
    color: white;
    font-size: 35px;
    border: none;
}

.fa-microchip {
    color: white;
    font-size: 35px;
    border: none;
}

.fa-home{
    color: white;
    font-size: 35px;
    border: none;
}

.image-slider{
    background-color:transparent;
    position: relative;
    width: 1000px ;
    height: 650px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    margin-top: 150px;

}

.slider-images{
    height: 40px;
    width: 40px;
    background-color: lightpink;
}

.images{
    width:1000px;
    height: 650px;
}

.left-button{
    font-size: 50px;
    color:rgb(216,216,216);
    width: 65px;
    margin-top: 290px;
    margin-bottom: 300px;
    position: absolute;
    background-color: transparent;
    border-radius: 60px;
    transition-duration: .4s;
    border-color: transparent;
    opacity: .7;
    outline: transparent;
}
.right-button{
    font-size: 50px;
    color:rgb(216,216,216);
    width: 65px;
    position: absolute;
    background-color: transparent;
    margin-left: -66px;
    margin-top: 290px;
    margin-bottom: 300px;
    border-radius: 60px;
    transition-duration: .4s;
    border-color: transparent;
    opacity: .7;
    outline: transparent;
}

.right-button:hover{
    background-color: rgb(40,40,40,0.8);
    opacity: 1;
    border-color: rgb(216,216,216);
}

.left-button:hover{
    background-color: rgb(40,40,40,0.8);
    opacity: 1;
    border-color: rgb(216,216,216);
}